<div class="setBaseBottom content-block">
  <br>
  <h2 class="heading">Please Enter Your Credentials Here </h2>
  <div class="container">
    <form [formGroup]="exampleForm" (ngSubmit)="f.form.valid && login(f)" #f="ngForm">
      <div class="form">
        <input type="text" placeholder="Enter your email" formControlName="firstName" required/>
        <input type="password" placeholder="Password" formControlName="password" required/>
         <input type="submit" value="Login" />
      </div> 
      </form>
    
  <br><br>
  </div>
  </div>