 
<div class="setBaseBottom food-menu-block-inner container">
  <br>
  <h2 class="heading">Our Menu</h2>
  <div class="maindiv">
  <div class="collapseSeperate">
  <collapsible-list [type]="'accordion'" style="border: none;">
    <collapsible-list-item class="single-accordian" *ngFor="let header of objectKeys(allDataContent);">
      <collapsible-header class="waves-effect" (click)="rotateArrow= !rotateArrow;">
        {{header}}
        <!-- <i class="glyphicon glyphicon-menu-right" [ngClass]="rotateArrow?'rotateArrow':'null'"></i> -->
      </collapsible-header>
      <collapsible-body [expanded]="rotateArrow && listedRole == 4" [ngClass]="rotateArrow && listedRole == 4 ?'single-accordion collapsed':'single-accordion'">
        <div class="accordion-content default">
          <div class="ac-recommendation-status">
            <ul class="ac-employees-unsorted" *ngIf="allDataContent">
              <li class="removeDot" *ngFor="let user of allDataContent[header];let index=index">   
                <h5 class="textHover">{{user}}</h5>
                <input type="checkbox" class="option-input checkbox"/>
              </li>
            </ul>
          </div>
        </div>
      </collapsible-body>
    </collapsible-list-item>
  </collapsible-list>
</div>
<!-- <div class="collapseSeperate">
  <collapsible-list [type]="'accordion'" style="border: none;">
    <collapsible-list-item class="single-accordian" *ngFor="let header of objectKeys(allDataContent);">
      <collapsible-header class="waves-effect" (click)="rotateArrow= !rotateArrow;">
        {{header}}
        <i class="glyphicon glyphicon-menu-right" [ngClass]="rotateArrow?'rotateArrow':'null'"></i>
      </collapsible-header>
      <collapsible-body [expanded]="rotateArrow && listedRole == 4" [ngClass]="rotateArrow && listedRole == 4 ?'single-accordion collapsed':'single-accordion'">
        <div class="accordion-content default">
          <div class="ac-recommendation-status">
            <ul class="ac-employees-unsorted" *ngIf="allDataContent">
              <li class="removeDot" *ngFor="let user of allDataContent[header];let index=index">   
                <h5 class="textHover">{{user}}</h5>
                <input type="checkbox" class="option-input checkbox"/>
              </li>
            </ul>
          </div>
        </div>
      </collapsible-body>
    </collapsible-list-item>
  </collapsible-list>
</div> -->
</div>
</div>