
<div class="setBaseBottom content-block">
    <br>
    <h2 class="heading">Our Gallery</h2>
  
<div class="gallery cf ">
    <div>
      <img  src="../../assets/img/Appam.jpg" alt="Food">
    </div>
    <div>
      <img  src="../../assets/img/Appam.jpg" alt="Food">
    </div>
    <div>
      <img  src="../../assets/img/Appam.jpg" alt="Food">
    </div>
    <div>
        <img  src="../../assets/img/Appam.jpg" alt="Food">
      </div>
      <div>
        <img  src="../../assets/img/Appam.jpg" alt="Food">
      </div>
      <div>
        <img  src="../../assets/img/Appam.jpg" alt="Food">
      </div>
    
  </div>
  </div>

