<div class="headerOne">
        <div class="header">
                <div class="header-inner container flex flex-column flex-row-m flex-space-between-m">

                        
                          <a><div (click)="_homeService.internalRoute('','home');" class="companyLogo"></div></a>
                        <input type="checkbox" id="navigation-toggle-checkbox" name="navigation-toggle-checkbox" class="navigation-toggle-checkbox sr">
                        <label for="navigation-toggle-checkbox" class="navigation-toggle-label" onclick="">
                                <span class="navigation-toggle-label-inner">
                                        <span class="sr">Navigation</span>
                                </span>
                        </label>
                        <div class="navigation">
                                <ul class="navigation-menu">
                                        <!-- <li class="navigation-item"><a routerLink="" fragment="about">About</a></li> -->
                                        
                                        <li class="navigation-item cursor-pointer"><a (click)="_homeService.internalRoute('','about');">About</a></li>
                                        <li class="navigation-item cursor-pointer"><a (click)="_homeService.internalRoute('','services');">Our Services</a></li>
                                        <li class="navigation-item cursor-pointer"><a (click)="_homeService.internalRoute('','reservations');">Reservations</a></li>
                                        <li class="navigation-item cursor-pointer"><a (click)="_homeService.internalRoute('','reviews');">Reviews</a></li>
                                        <li class="navigation-item cursor-pointer"><a routerLink="/menu">Menu</a></li>
                                        <li class="navigation-item cursor-pointer"><a routerLink="/gallery">Gallery</a></li>
                                </ul>

                        </div>
                </div>
        </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
        <div class="footer-inner container">
          <div class="row-m">
            <!-- <div class="footer-column col-4-l">
              <h3 class="footer-heading">About us</h3>
              <p>
                We customize each event through remarkable design and delectable cuisine.By making
          better choices consistently, and supporting local businesses, we bring more than just taste and
          presentation to the plate, we ensure a future rich in culinary excellence.
              </p>
            </div> -->
            <div class="footer-column col-4-l">
              <h3 class="footer-heading">Opening Hours</h3>
              <p>
                <strong>Mon-Thu:</strong> 7.00am - 8.00pm <br>
                <strong>Fri-Sun:</strong> 7.00am - 10.00pm
              </p>
              <ul class="payment-types icon-list-inline">
                <li><span class="payment payment-mastercard"><span class="sr">Mastercard</span></span></li>
                <li><span class="payment payment-visa"><span class="sr">Visa</span></span></li>
                <li><span class="payment payment-american-express"><span class="sr">American Express</span></span></li>
                <li><span class="payment payment-paypal"><span class="sr">PayPal</span></span></li>
              </ul>
            </div>

            <div class="footer-column col-4-l">
              <h3 class="footer-heading">Accreditation</h3>
              <img class="img-fluid certificate-image feature-image-1" src="assets/Images/certificate_2.png" alt="Wheat">
              <img class="img-fluid certificate-image feature-image-1" style="width: 150px;" src="assets/Images/certificate_1.png" alt="Wheat">
            </div>
      
            <div class="footer-column col-4-l">
              <h3 class="footer-heading">Our Location</h3>
              <p>
                Opp DCC, Bakery Junction, Nandavanam Road, Thiruvananthapuram, Kerala 695001 <br>
                Ph: 0471232 0327 Mob: 9847151999 <br>
                Email: varnamcaterers@gmail.com <br>
              </p>
              <ul class="footer-social-list icon-list-inline">
                <li class="navigation-item-social"><a class="social social-twitter" href="https://getbase.org/templates/restaurant-template/#"><span
                      class="sr">Twitter</span></a></li>
                <li class="navigation-item-social"><a class="social social-facebook" href="https://getbase.org/templates/restaurant-template/#"><span
                      class="sr">Facebook</span></a></li>
                <li class="navigation-item-social"><a class="social social-google-plus" href="https://getbase.org/templates/restaurant-template/#"><span
                      class="sr">Google Plus</span></a></li>
                <li class="navigation-item-social"><a class="social social-youtube" href="https://getbase.org/templates/restaurant-template/#"><span
                      class="sr">YouTube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>