<div class="headercontentavoid">
<div class="cder">

  <div class="banner-inner container">
    <h1 class="banner-lead">
      <span class="banner-lead-1">Celebrations with Varnam</span>
      <span class="banner-lead-2">Experience excellent and quality catering</span>
    </h1>
    <div class="banner-buttons">
      <a href="#reservations" class="button button-primary">Reserve a table</a>
      <a routerLink="/menu" class="button button-secondary">See the menu</a>
    </div>
  </div>
</div>

<div id="about" class="content-block about-block " style="visibility: visible;">
  <br><br>
  <div class="about-block-inner container">
    <div class="row-m text-center">
      <div class="about-block-content col-6-l">
        <h2 class="heading">About </h2>
        <p class="">
          Our glass is always full: Total commitment to client satisfaction and the highest levels of
          service has made Varnam the preeminent caterer.It is all about the details to make each event
          unique. We customize each event through remarkable design and delectable cuisine.By making
          better choices consistently, and supporting local businesses, we bring more than just taste and
          presentation to the plate, we ensure a future rich in culinary excellence.
        </p>
        <img class="img-fluid about-chef hand" src="../../assets/img/handshake1.png" alt="Chef">
      </div>
      <div class="about-block-img col-6-l none-m block-l">
        <img class="img-fluid" src="../../assets/img/dish.png" alt="Dish of food">
      </div>
    </div>
  </div>
</div>

<div id="ingredients" class="content-block ingredients-block" style="visibility: visible;">
  <br>
  <div class="ingredients-block-inner container">
    <div class="row-m flex-center-m">
      <div class="col-8-m">
        <div class="feature-box text-center">
          <h2 class="heading-secondary">Fine Ingredients</h2>
          <div class="feature-box-content">
            <p>
              If you've been to our restaurants, you've seen - and tasted - what keeps our customers
              coming back for more. <br>
              Varnam proudly offers catering services for your personal or business needs. Our
              catering services range from the most elegant affair to a business luncheon or a picnic
              at the park. We will meet your event needs by exploring options and ideas with you. You
              will find Varnam catering staff to be professional, pleasant and quick to meet your
              needs.
            </p>
            <div class="feature-image-group flex-m flex-center-m">
              <figure>
                <img class="img-fluid feature-image feature-image-1" src="../../assets/img/Restaurant Template_files/01-wheat1.jpg" alt="Wheat">
                <figcaption>Corporate Celebrations</figcaption>
              </figure>
              <!-- <figure>
            <img class="img-fluid feature-image feature-image-1" src="./wedding.png" alt="Wheat">
            <figcaption>Marriage</figcaption>
        </figure>
        <figure>
            <img class="img-fluid feature-image feature-image-1" src="./Baptism.png" alt="Wheat">
            <figcaption>Baptism</figcaption>
        </figure>
        <figure>
            <img class="img-fluid feature-image feature-image-1" src="./betro.jpg" alt="Wheat">
            <figcaption>Betrothal</figcaption>
        </figure> -->
              <figure>
                <img class="img-fluid feature-image feature-image-1" src="../../assets/img/Restaurant Template_files/01-wheat1.jpg" alt="Wheat">
                <figcaption>Marriage</figcaption>
              </figure>
              <!-- <figure>
            <img class="img-fluid feature-image feature-image-1" src="./PARTY.png" alt="Wheat">
            <figcaption>Parties</figcaption>
        </figure> -->
              <figure>
                <img class="img-fluid feature-image feature-image-1" src="../../assets/img/Restaurant Template_files/01-wheat1.jpg" alt="Wheat">
                <figcaption>School & College functions</figcaption>
              </figure>
              <figure>
                <img class="img-fluid feature-image feature-image-1" src="../../assets/img/Restaurant Template_files/01-wheat1.jpg" alt="Wheat">
                <figcaption>Office & Product launching</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<!-- <div id="menu" class="content-block food-menu-block " style="visibility: visible;">
  <br> <br>
  <app-menu></app-menu>
</div> -->

<div id="reservations" class="content-block reservations-block " style="visibility: visible;">
    <br><br>
    <div class="reservations-block-inner container">
      <div class="row-m">
        <div class="reservation-block-img col-3-l none block-l">
          <img class="img-fluid " src="../../assets/img/inside.jpg" alt="inside">
        </div>
        <!-- <div class="reservation-block-img col-3-l none block-l">
      <img class="img-fluid " src="./arch.jpeg" alt="arch">
  </div> -->
        <div class="reservation-block-img col-6-m col-3-l none block-m">
          <img class="img-fluid " src="../../assets/img/chicken.jpg" alt="Food">
          <img class="img-fluid " src="../../assets/img/rice.jpg" alt="Food">
          <img class="img-fluid " src="../../assets/img/Appam.jpg" alt="Food">
        </div>
        <div class="reservation-block-form col-6-m">
          <div class="text-center">
            <h2 class="heading">Just the right food</h2>
            <p>
              If you've been to one of our restaurants, you've seen - and tasted - what keeps our
              customers coming back for more. Perfect materials and freshly baked food
            </p>
          </div>
          <div class="reservations-form">
            <fieldset class="reservations-form-wrap">
              <legend class="sr">Contact Us</legend>
              <div class="row-m">
                <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong" for="name">Name</label>
                  <input name="full-name" class="field" id="name" type="text" placeholder="your name *">
                </div>
                <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong" for="email">Email</label>
                  <input name="email" class="field" id="email" type="email" placeholder="your email *">
                </div>
              </div>
              <div class="row-m">
                <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong" for="date">Date</label>
                  <input name="date-of-booking" class="field" id="date" type="text" placeholder="date *">
                </div>
                <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong" for="party-size">Party size</label>
                  <span class="select">
                    <select class="field" name="party-size" id="party-size">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </span>
                </div>
              </div>
              <div class="text-center">
                <input type="submit" class="button reservations-submit" value="Book now!">
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  

<!-- reviews -->
<div id="reviews" class="content-block reviews-block" style="visibility: visible;">
  <div class="reviews-block-inner container">
    <div class="row-m flex-center-m">
      <div class="col-8-m feature-box text-center">
        <h2 class="heading-secondary">Guest Reviews</h2>
        <blockquote class="pad-10">
          <p>
            This place is a definite go for the foodies. Each and everything we tried was perfect.
            The must haves here are - Caesar Salad, Hash Browns, Macroni Alfredo, Chicken Ham Sandwich,
            Grilled Lamb Burger, Classic Grill Chicken and Supreme Sizzler.The ambiance is nice, very
            cozy. The staff is really courteous and we even met the chef and thanked him :)
          </p>
          <cite>
            Atulya Kumar
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>
</div>