<div class="headercontentavoid">
  <!-- <div #home id="home" class="cder">
    <div class="setBaseBottom">
      <div class="banner-inner container">
        <h1 class="banner-lead">
          <span class="banner-lead-1">Celebrations with Varnam</span>
          <span class="banner-lead-2">Experience excellent and quality catering</span>
        </h1>
        <div class="banner-buttons">
          <a routerLink="/menu" class="button button-secondary">See our menu</a>
        </div>
      </div>
    </div>
  </div> -->
  <div #home id="home" class="" style="position: relative;">
    <slideshow #slideshow [imageUrls]="imageUrlArray" [height]="'100vh'" [arrowSize]="'40px'" [showArrows]="true" [autoPlay]="false"
      [stopAutoPlayOnSlide]="false" [backgroundSize]="'cover'" [backgroundPosition]="'center center'" [showDots]=true [dotColor]="'#fff'"
      [showCaptions]=true [captionColor]="'#fff'" [captionBackground]="'#847a5dbd'" [disableSwiping]=false>
     
    </slideshow>
    <div *ngIf="slideshow.slideIndex==0" class="setBaseBottom alam" >
      <div class="banner-inner container allignH1">
        <div class="restinpeace">
          <h1 class="banner-lead">
          <span class="banner-lead-1" id="sm-head1">Celebrations with Varnam</span>
         
          <span class="banner-lead-2" id="sm-head2"> &nbsp;Experience excellent and quality catering</span>
        </h1>
      </div>

        <div class="banner-buttons">
          <a routerLink="/menu" class="button button-secondary">See our menu</a>
        </div>
      </div>
    </div>
  </div>

  <!-- about -->
  <div #about id="about" class="content-block about-block " style="visibility: visible;">
    <br><br>
    <div class="setBaseBottom about-block-inner container">
      <div class="row-m text-center">
        <div class="about-block-content col-6-l">
          <h2 class="heading">About </h2>
          <p class="about">
            Varnam caterers is name famous for providing the best outdoor catering services in Trivandrum and through
            out kerala. Varnam Catering Services welcomes the opportunity to serve you. We pride ourselves on offering
            an outstanding array of food and beverage selections designed to meet a variety of needs. We are dedicated
            in providing you with the highest quality of catering services, from a simple coffee break to extravagant
            receptions and dinners. Our catering staff strives to develop and produce customized menu events. We invite
            you to contact our experts to assist you in planning your next event. We have been in the industry for past
            20 years.<br><br>
            Our organization is engaged in rendering Wedding Catering Services for the clients. For wedding of all
            religious communities, we offer these catering services. We have exotic and scrumptious menus, which
            delights the mood of the food lovers. For creating a lip-smacking feast, guests can choose the appetizers,
            entrees and desserts. Varnam catering services are rendered by our experienced chefs.<br><br>
            Our organization is ISO 22000 certified and also incorporates HACCP principles and is compatible with ISO
            9001: 2008 certification quality management systems, making it the ideal basis for implementing a
            comprehensive, cost effective food safety management system.

          </p>
        </div>
        <div class="about-block-img col-6-l none-m block-l">
          <img class="img-fluid" src="assets/Images/dish.png" alt="Dish of food">
          <img class="img-fluid about-chef hand" src="assets/Images/handshake1.png" alt="Chef">

        </div>
      </div>
    </div>
  </div>

  <!-- Our Services -->
  <div #services id="services" class="content-block ingredients-block" style="visibility: visible;">
    <br>
    <div class="ingredients-block-inner container">
      <div class="setBaseBottom row-m flex-center-m">
        <div class="col-8-m">
          <div class="feature-box text-center">
            <h2 class="heading-secondary">Our Services</h2>
            <div class="feature-box-content">
              <p>
                If you've been to our restaurants, you've seen - and tasted - what keeps our customers
                coming back for more. <br>
                Varnam proudly offers catering services for your personal or business needs. Our
                catering services range from the most elegant affair to a business luncheon or a picnic
                at the park. We will meet your event needs by exploring options and ideas with you. You
                will find Varnam catering staff to be professional, pleasant and quick to meet your
                needs.
              </p>
              <div class="feature-image-group flex-m flex-center-m">
                <figure>
                  <img class="img-fluid feature-image feature-image-1" src="assets/Images/marriage.jpg" alt="Wheat">
                  <figcaption>Marriage</figcaption>
                </figure>
                <figure>
                  <img class="img-fluid feature-image feature-image-1" src="assets/Images/baptism.jpg" alt="Wheat">
                  <figcaption>Baptism</figcaption>
                </figure>
                <figure>
                  <img class="img-fluid feature-image feature-image-1" src="assets/Images/product-lunch-inner.jpg"
                    alt="Wheat">
                  <figcaption>Product Launch</figcaption>
                </figure>
                <figure>
                  <img class="img-fluid feature-image feature-image-1" src="assets/Images/innaguration.png" alt="Wheat">
                  <figcaption>Innagurations</figcaption>
                </figure>
                <figure>
                  <img class="img-fluid feature-image feature-image-1" src="assets/Images/marriage.jpeg" alt="Wheat">
                  <figcaption>Betrothal</figcaption>
                </figure>
                <figure>
                  <img class="img-fluid feature-image feature-image-1" src="assets/Images/party.jpg" alt="Wheat">
                  <figcaption>Event Management</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <!-- reservations -->
  <div #reservations id="reservations" class="content-block reservations-block " style="visibility: visible;">
    <br><br>
    <div class="reservations-block-inner container">
      <div class="setBaseBottom row-m">
        <div class="reservation-allignment">
          <div class="text-center">
            <h2 class="heading">Just the right food</h2>
            <p>
              If you've been to one of our restaurants, you've seen - and tasted - what keeps our
              customers coming back for more. Perfect materials and freshly baked food
            </p>
          </div>
          <div class="reservations-form">
            <fieldset class="reservations-form-wrap">
              <legend class="sr">Contact Us</legend>
              <div class="row-m">
                <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong">Name</label>
                  <input class="field" [(ngModel)]="userData.data.name" type="text" placeholder="your name *">
                </div>
                <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong">Email</label>
                  <input name="email" class="field" id="email" [(ngModel)]="userData.data.email" type="email" placeholder="your email *">
                </div>
              </div>
              <div class="row-m">
                <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong">Date</label>
                  <input name="date-of-booking" class="field" [(ngModel)]="userData.data.date" id="date" type="text" placeholder="date *">
                </div>
                <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong">Function</label>
                  <span class="select">
                    <select class="field" name="party-size" [(ngModel)]="userData.data.function" id="party-size">
                      <option value="" disabled selected>Select your option</option>
                      <option value="Wedding">Wedding</option>
                      <option value="Baptism">Baptism</option>
                      <option value="Product Launch">Product Launch</option>
                      <option value="Betrothal">Betrothal</option>
                      <option value="Event Management">Event Management</option>
                      <option value="Innagurations">Innagurations</option>
                      <option value="Birthday Party">Birthday Party</option>
                    </select>
                  </span>
                </div>
              </div>
              <div class="row-m">
              <div class="col-6-m pad-top-10 pad-bottom-10">
                  <label class="block strong">Phone no:</label>
                  <input name="phone" class="field" id="phone" [(ngModel)]="userData.data.phone" type="phone" placeholder="your phone *">
                </div>
                <div class="col-6-m pad-top-10 pad-bottom-10">
                    <label class="block strong">Place</label>
                    <input name="place" class="field" id="place" [(ngModel)]="userData.data.place" type="place" placeholder="your place *">
                  </div>
                </div>
              <div class="text-center">
                <input type="submit" (click)="goToMenu();" class="button reservations-submit" value="See Menu!">
              </div>
              
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>


  <!-- reviews -->
  <div #reviews id="reviews" class="content-block reviews-block" style="visibility: visible;">
    <div class="setBaseBottom reviews-block-inner container">
      <div class="row-m flex-center-m" style="padding-bottom: 100px;">
        <div class="col-8-m feature-box text-center">
          <h2 class="heading-secondary">Guest Reviews</h2>
          <blockquote class="pad-10">
            <p>
              This place is a definite go for the foodies. Each and everything we tried was perfect.
              The must haves here are - Caesar Salad, Hash Browns, Macroni Alfredo, Chicken Ham Sandwich,
              Grilled Lamb Burger, Classic Grill Chicken and Supreme Sizzler.The ambiance is nice, very
              cozy. The staff is really courteous and we even met the chef and thanked him :)
            </p>
            <cite>
              Atulya Kumar
            </cite>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>